@model ServicioGnc.Models.Compra

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Compra</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Proveedor.RazonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Proveedor.RazonSocial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Total)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Total)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CompraId }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
