@model ServicioGnc.Models.TurnoEspecial

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TurnoEspecial</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FeriadoId, "Feriado")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FeriadoId", String.Empty)
            @Html.ValidationMessageFor(model => model.FeriadoId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonaId, "Persona")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonaId", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonaId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
