@model IEnumerable<ServicioGnc.Models.Persona>

@{
    ViewBag.Title = "Empleado";
}

<h2 class="warning"> Empleados </h2>

<p>
    @Html.ActionLink("Crear nuevo empleado", "Create")
</p>
<table class="table">
    <tr class="warning">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Rol
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
         Fecha de Nacimiento
        </th>
        <th>
        Fecha de Egreso
        </th>
        <th>
         Fecha de Ingreso
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rol.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEgreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PersonaId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.PersonaId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PersonaId })
        </td>
    </tr>
}

</table>
