@model ServicioGnc.Models.Liquidacion

@{
    ViewBag.Title = "Liquidación";
}

<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
    Liquidación de Sueldos
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Liquidacion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonaId, "Persona")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonaId", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpresaId, "Empresa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmpresaId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmpresaId)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.Total)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Total)
                @Html.ValidationMessageFor(model => model.Total)
            </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">

            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>*@

        <div class="editor-label">
            @Html.LabelFor(model => model.Periodo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Periodo)
            @Html.ValidationMessageFor(model => model.Periodo)
            (Formato MM-YYYY)
        </div>
<div>
<div id="formularioDetail">
    @Html.Partial("CreateDetail")
</div>
        </div>
    <div class="editor-field">
        <h4>Detalle de Liquidación</h4>
        <div id="detalleLiquidacion">
        </div>
    </div>

        <script type="text/javascript">
                function agregarDetalle() {

                    var ConceptoId = $("#ConceptoId").val();


                    $.ajax({
                        url: "@Url.Content("~/Liquidacion/CreateDetail")",
                        type: 'post',
                        data: { 'LiquidacionId': 0, 'ConceptoId': ConceptoId},
                        success: function (data) {
                            $("#formularioDetail").html(data);
                            listarDetalle();
                        }
                    });
                }

            function listarDetalle() {
                $.ajax({
                    url: "@Url.Content("~/Liquidacion/ListDetail")",
                    type: 'post',
                    data: {},
                    success: function (data) {
                        $("#detalleLiquidacion").html(data);
                    }
                });
            }

            function eliminarDetalle(liquidacionId) {
                    $.ajax({
                        url: "@Url.Content("~/Liquidacion/DeleteDetail")",
                        type: 'post',
                        data: { 'ConceptoId': liquidacionId },
                        success: function (data) {
                            $("#detalleLiquidacion").html(data);
                        }
                    });
            }
        </script>

        <br />
        <p>
            <input type="submit" class="btn-warning" value="Liquidar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    $(function () {
        $('#Fecha').datepicker({
            dateFormat: 'dd-mm-yy'
        });
    });
</script>