@model ServicioGnc.Models.Liquidacion

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Liquidación</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div>    Nombre: @Html.DisplayFor(model => model.Persona.Nombre) </div>
            <div>    Empresa: @Html.DisplayFor(model => model.Empresa.Nombre)</div>
            <div>    Total: @Html.DisplayFor(model => model.Total)</div>
            <div>    Fecha: @Html.DisplayFor(model => model.Fecha)</div>
            <div>    Periodo: @Html.DisplayFor(model => model.Periodo)</div>
            <br />
            <div>
                @Html.ActionLink("Editar", "Edit", new { id = Model.LiquidacionId }) |
                @Html.ActionLink("Volver al listado", "Index")
            </div>
        </div>
    </div>
</div>