@model ServicioGnc.Models.Liquidacion

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Liquidacion</legend>

        @Html.HiddenFor(model => model.LiquidacionId)

        <div class="editor-label">
            @Html.LabelFor(model => model.PersonaId, "Persona")
        </div>
        <div class="editor-field">
            @Html.DropDownList("PersonaId", String.Empty)
            @Html.ValidationMessageFor(model => model.PersonaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EmpresaId, "Empresa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EmpresaId", String.Empty)
            @Html.ValidationMessageFor(model => model.EmpresaId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Total)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Total)
            @Html.ValidationMessageFor(model => model.Total)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Periodo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Periodo)
            @Html.ValidationMessageFor(model => model.Periodo)
        </div>
        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
