@model ServicioGnc.Models.Cliente

@{
    ViewBag.Title = "Cliente";
}

<h2>Editar Cliente</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cliente</legend>

        @Html.HiddenFor(model => model.ClienteId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Domicilio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Domicilio)
            @Html.ValidationMessageFor(model => model.Domicilio)
        </div>
        <br/>
        <p>
            <input type="submit" class="btn-warning" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Volver al Listado", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
