@model IEnumerable<ServicioGnc.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>

<p>
    @Html.ActionLink("Crear nuevo cliente", "Create")
</p>
<table class="table">
    <thead class="warning">
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Domicilio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Domicilio)
                </td>

                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.ClienteId }) |
                      @Html.ActionLink("Detalle", "Details", new { id = item.ClienteId }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ClienteId })
                </td>
            </tr>
        }
    <tbody>
</table>

