@model ServicioGnc.Models.RegistroAutomatico

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>RegistroAutomatico</legend>

        @Html.HiddenFor(model => model.RegistroAutomaticoId)

        <div class="editor-label">
            @Html.LabelFor(model => model.TurnoEspecialId, "TurnoEspecial")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TurnoEspecialId", String.Empty)
            @Html.ValidationMessageFor(model => model.TurnoEspecialId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
