@model ServicioGnc.Models.Producto

@{
    ViewBag.Title = "Producto";
}

<h2>Producto</h2>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">Producto - ¿Está seguro de que desea eliminar esto?</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div>    Nombre: @Html.DisplayFor(model => model.Nombre) </div>
            <div>    Precio de Compra: @Html.DisplayFor(model => model.PrecioCompra)</div>
            <div>    Precio de Venta: @Html.DisplayFor(model => model.PrecioVenta)</div>
            <div>    Unidad: @Html.DisplayFor(model => model.Unidad.Nombre)</div>
            <div>    Cantidad: @Html.DisplayFor(model => model.Cantidad)</div>
            <br />
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <input type="submit" class="btn-warning" value="Eliminar" /> |
                        @Html.ActionLink("Volver al listado", "Index")
                    </p>
                }

            </div>
        </div>
    </div>
</div>
