@model ServicioGnc.Models.Carro


@{
    ViewBag.Title = "Liquidación";
}

<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
    Liquidación
</div>

<div id="formularioDetail">
    @Html.Partial("SeleccionarEmpleado")
</div> 

@using (Html.BeginForm(actionName:"ProcesarCompra",controllerName:"Carro"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    

    <div id="busqueda">
        <input type="text" name="productoId" id="productoId"  />
        <input type="button" class="btn-warning" onclick="javascript:BuscarConcepto()" value="Buscar" />

    </div>
    <div id="productoDescripcion"></div>
    
    <div id="detalleCarro"></div>
       <br/>
    <input type="submit" class="btn-warning" onclick="javascript:ProcesarLiquidacion()" value="Guardar" />
    <br/>
}

<div>
    @Html.ActionLink("Nueva Liquidación", "CreateLiquidacion")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script >
function BuscarConcepto(){
        var productoCodigo = $("#conceptoId").val();
        $.ajax({
            url: "@Url.Content("~/Concepto/BuscarConcepto")",
            type: 'POST',
            data: { 'conceptoId': conceptoCodigo },
            success: function (data) {
                $("#conceptoDescripcion").html(data);
            }
        });
    }





    function AgregarDetalleLiquidacion() {
        var productoIdPanel = $("#ProductoIdPanel").val();
        var cantidad = $("#ProductoCantidad").val();
        $.ajax({
            url: "@Url.Content("~/Carro/AgregarDetalleLiquidacion")",
            type:'post',

            data: { 'productoId': productoIdPanel, 'cantidad': cantidad , 'tipoOperacionId': 3 },
            success: function (data) {
                $("#detalleCarro").html(data);
            }
        });


    }
</script>
