@model ServicioGnc.Models.Fichada

@{
    ViewBag.Title = "Delete";
}


<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 class="panel-title">Fichada - ¿Está seguro de que desea eliminar esto?</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <div>    Fecha Ingreso: @Html.DisplayFor(model => model.FechaIngreso)</div>
            <div>    Fecha Egreso: @Html.DisplayFor(model => model.FechaEgreso)</div>
            <div>    Empleado: @Html.DisplayFor(model => model.Persona.Nombre) </div>
            <div>    Empleado: @Html.DisplayFor(model => model.Observacion) </div>
            <br />
            <div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <p>
                        <input type="submit" class="btn-warning" value="Eliminar" /> |
                        @Html.ActionLink("Volver al listado", "Index")
                    </p>
                }

            </div>
        </div>
    </div>
</div>

