@model IEnumerable<ServicioGnc.Models.TipoConcepto>

@{
    ViewBag.Title = "Tipo de Concepto";
}

<h2>Tipo de Concepto</h2>

<p>
    @Html.ActionLink("Crear nuevo tipo de concepto ", "Create")
</p>
<table class="table">
    <thead>
        <tr class="warning">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
              
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.TipoConceptoId }) |
                  @*  @Html.ActionLink("Detalle", "Details", new { id = item.TipoConceptoId }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.TipoConceptoId })
                </td>
            </tr>
        }
    <tbody>
</table>

